//output: ../index.html
html(lang='en')
  head
    title Geo
    meta(name='author' content='Geo Authors')
    meta(name="description" content='Geo')
    meta(name="keywords" content="listing")
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
    link(rel='apple-touch-icon', sizes='57x57', href='/icons/apple-icon-57x57.png')
    link(rel='apple-touch-icon', sizes='60x60', href='/icons/apple-icon-60x60.png')
    link(rel='apple-touch-icon', sizes='72x72', href='/icons/apple-icon-72x72.png')
    link(rel='apple-touch-icon', sizes='76x76', href='/icons/apple-icon-76x76.png')
    link(rel='apple-touch-icon', sizes='114x114', href='/icons/apple-icon-114x114.png')
    link(rel='apple-touch-icon', sizes='120x120', href='/icons/apple-icon-120x120.png')
    link(rel='apple-touch-icon', sizes='144x144', href='/icons/apple-icon-144x144.png')
    link(rel='apple-touch-icon', sizes='152x152', href='/icons/apple-icon-152x152.png')
    link(rel='apple-touch-icon', sizes='180x180', href='/icons/apple-icon-180x180.png')
    link(rel='icon', type='image/png', sizes='192x192', href='/icons/android-icon-192x192.png')
    link(rel='icon', type='image/png', sizes='32x32', href='/icons/favicon-32x32.png')
    link(rel='icon', type='image/png', sizes='96x96', href='/icons/favicon-96x96.png')
    link(rel='icon', type='image/png', sizes='16x16', href='/icons/favicon-16x16.png')
    link(rel='manifest', href='/icons/manifest.json')
    meta(name='msapplication-TileColor', content='#ffffff')
    meta(name='msapplication-TileImage', content='/icons/ms-icon-144x144.png')
    meta(name="msapplication-config" content="/icons/browserconfig.xml")
    meta(name='theme-color', content='#ffffff')
    link(rel='shortcut icon', href='/icons/favicon.ico', type='image/x-icon')
    link(rel='icon', href='/icons/favicon.ico', type='image/x-icon')
    link(href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet")
    link(rel='stylesheet', href='./node_modules/angular-material/angular-material.min.css')
    link(rel='stylesheet', href='./index.css')
    script(src='./node_modules/angular/angular.min.js')
    script(src='./node_modules/angular-animate/angular-animate.min.js')
    script(src='./node_modules/angular-aria/angular-aria.min.js')
    script(src='./node_modules/angular-messages/angular-messages.min.js')
    script(src='./node_modules/angular-material/angular-material.min.js')
    script(src='./node_modules/angular-route/angular-route.min.js')
    script(src='./node_modules/angular-sanitize/angular-sanitize.min.js')
  body(ng-app='geo', ng-cloak='')
    md-nav-bar(nav-bar-aria-label="navigation links").header
      md-nav-item(md-nav-href="#/" name="home") Geo
      md-nav-item(md-nav-href="#/about" name="about") About
      md-nav-item(md-nav-href="#/contact" name="contact") Contact
    .ng-view
    script(type='text/javascript' src="index.js")
