
<div class="ng-cloak">
  <md-content class="md-margin"></md-content>
  <md-card>
    <md-card-header>
      <md-card-header-text><span class="md-title">Geo Authors</span><span class="md-subhead">Subheading</span></md-card-header-text>
    </md-card-header>
    <md-card-content>
      <p>Lorem Ipsum</p>
    </md-card-content>
  </md-card>
</div>