//output: ../../views/about.html
.ng-cloak
  md-content(class="md-margin")
  md-card
    md-card-header
      md-card-header-text
        span.md-title Geo
        span.md-subhead Go to source for product listings
    md-card-content
      p
        | The Geo is the go to source for product listings
