//output: ../../views/contact.html
.ng-cloak
  md-content(class="md-margin")
  md-card
    md-card-header
      md-card-header-text
        span.md-title Geo Authors
        span.md-subhead Subheading
    md-card-content
      p
        | Lorem Ipsum
