//output: ../../views/home.html
.ng-cloak
  md-card(md-theme="default", md-theme-watch='')
    md-card-title
      md-card-title-text
        span.md-headline Card with image
        span.md-subhead Medium
      md-card-title-media
        .md-media-md.card-media
    md-card-actions(layout='row', layout-align='end center')
      md-button Action 1
      md-button Action 2
